#contient {
	position: relative;
	margin: 50px auto;
	/*width: 960px;*/
}

.als-item p{
    margin:5px;
    min-width:25px;
    text-align:center;
}

.als-item a{
    /*display:inline-block;*/
}
/*************************************
 * styling generico elementi als
 ************************************/
.als-container {
	position: relative;
	width: 95%;
    height:150px;
	margin: 0px auto;
	z-index: 2;
}

.als-viewport {
	position: relative;
	overflow: hidden;
    max-width:90%;
	margin: 0px auto;
}

.als-wrapper {
	position: relative;
	list-style: none;
    margin:auto;
    /*max-width:550px;*/
}

.als-item {
	position: relative;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	float: left;
    margin:0;
}

.als-prev, .als-next {
	position: absolute;
	cursor: pointer;
    border:1px solid #9b1230;
    background-color:#9b1230;
    overflow:hidden;
    border-radius:300px;
	/*clear: both;*/
    /*opacity:0.8;*/
    z-index:8;
    width:30px;
    height:30px;
}

.als-prev{
    /*border:1px solid #9b1230;*/
    border-radius:300px;
    box-shadow:5px 5px 4px #333;
}

.als-next {
    /*border:1px solid #9b1230;*/
    border-radius:300px;
    box-shadow:-5px 5px 4px #333;
}

/***********************************
 * styling specifico elementi als
 * di contient e delle demo
 **********************************/

#membresPro,#membresPart{
    /*overflow:hidden;*/
    position:relative;
}

/*#membresPro .als-item {
	margin: 5px 5px;
	padding: 1px 0px;
	height: 50px;
	min-width: 10px;
	text-align: center;
}*/

#membresPro .als-item p, #membresPart .als-item p {
	display: block;
	margin: 0 auto;
	vertical-align: middle;
}

#membresPro .als-prev, #membresPro .als-next,
#membresPart .als-prev, #membresPart .als-next{
	top: 75px;
    display:inline-block;
}

#membresPro .als-prev, #membresPart .als-prev{
	left: -5px;
}

#membresPro .als-next, #membresPart .als-next{
	right: -5px;
}


.zone-item-text{
    position:absolute;
    text-align:center;
    margin:auto;
    width:100%;
    height:20px;
    background-color:#c3c7cd;
    bottom:0px;
    opacity:0.5;
}

.item-texte{
    background-color:#c3c7cd;
    bottom:0px;
    color:#9b1230;
    opacity:1;
}



.als-item img{
    width:150px;
    height:150px;
    margin:0px;
}



/*-----------------------------------------------------------------------------------------*/
.slide_link,.membreEquipe,#detailMembre{
    border:1px solid black;
}
