/* ------------------------------------- FORMULAIRE INSCRIPTION/CONNEXION ------------------------------ */
.inscriptionConnection{
    width:60%;
    margin:auto;
    padding:30px;
}
.formContent{
    width:auto;
    margin:auto;
    position:relative;
    display:inline-block;
}
.formulaire{
    display:inline-block;
    position:relative;
    vertical-align:middle;
    width:45%;
    margin:auto;
    min-width:500px;
    padding:10px;
}
.inscription{
    width:95%;
    height:350px;
}