/* ------------------------------------ PORTFOLIO ----------------------------------------*/
.portfolio{
    position:relative;
    background-color:#000000;
	width:100% ;
    height:auto;
	top:0%;
    overflow:hidden;
    padding:0;
    float:right;
}

.portfolio isotope-item{
    padding:0px;
    margin:0 !important;
    margin-right:200px;
}

.isotope,.isotope-item{
    padding:0px;
    margin:0px !important;
    -webkit-transition:200ms;
    -moz-transition:200ms;
    -o-transition:200ms;
    -khtml-transition:200ms;
    -ms-transition:200ms;
}

.portfolio li{
    position:relative;
    padding:0px;
    overflow:hidden;
}

/* ------------------------------------ THUMB ---------------------------------------------*/
 .vignette{
    list-style-type:none;
    display:inline-block;
    width:120px;
    height:150px;
    position:relative;
    overflow:hidden;
    -webkit-transition:200ms !important;
    -moz-transition:200ms !important;
    -o-transition:200ms !important;
    -khtml-transition:200ms !important;
    -ms-transition:200ms !important;
    z-index:2;
    opacity:0.3;
 }
 .vignettes{
    background-color:#9e1237;
    list-style-type:none;
    display:inline-block;
    width:220px;
    height:150px;
    position:relative;
 }

.vignette:hover{
    -ms-opacity:1;
    opacity:1;
    -webkit-transition: width 200ms;
    -moz-transition: width 200ms;
    -ms-transition: width 200ms;
    -o-transition: width 200ms;
    -khtml-transition: width 200ms;
    z-index:3;
    overflow:visible;
}
/* ------------------------------------ LINK_DOMAIN ---------------------------------------------*/
.linkDomain{
    margin:0;
    padding:0;
}
 .linkDomain{
	text-decoration:none;
	color: #9e1237;
	font-weight: bold;
	font-size: 12px;
 }

/* ------------------------------------ INFOSSUP ---------------------------------------------*/
.infosSupa{
    z-index:5;
    position:absolute;
    left:-300px;
    width:300px;
    height:150px;
    display:inline-block;
    vertical-align:middle;
    background-color:white;
}

.infosSup{
    position:relative;
    left:150px;
    width:240px;
    height:150px;
    background-color:white;
}

.infosSup,.photoVigneron{
    display:block;
    vertical-align:middle;
}

.infosSup p{
    width:100%;
}

.textinfo{
    position:absolute;
    top:-5px !important;
    left:5% !important;
    font-weight:900 !important;
    font-family: "OpenSans Light","Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:10px;
}
/* ------------------------------------ VOILE ---------------------------------------------*/
.voile{
	height:20%;
	width:100%;
	background-color: #9e1237 !important;
	display:none;
	text-align:center;
	opacity: 0.9;
    z-index:5;
	display:block;
    top:80%;
}

 .voile div{
	color:white;
	margin-top: 12px;
	font-weight: normal;
	letter-spacing: 4px;
 }
/* ------------------------------------ PHOTO_VIGNERON ---------------------------------------------*/
.photoVigneron{
    filter:gray !important ;
    height:150px;
    width:120px;
    position:relative;
    left:0;
}

.photoVigneron:hover{
    filter:none;
}
/* ------------------------------------ NOTRE pHILOSOPHIE ------------------------------------------*/
.conteneur{
    width:50%;
    margin:20px;
    display:inline-block;
    min-height:300px;
    background-color:white;
    border:1px solid red;
}
.contener{
    width:50%;
    margin:20px;
    display:inline-block;
    min-height:300px;
    background-color:blue;
    border:1px solid red;
}










