<StructureExtensions>
    <DocTypes>
        <add id="1044" allowedAtRoot="false" />
        <add id="1050" defaultChild="1049" allowedAtRoot="true" />
        <add id="1048" defaultChild="1058" allowedAtRoot="true" />
        <add id="1058" defaultChild="1060" />
        <add id="1031" defaultChild="1032" allowedAtRoot="true" />
        <add id="1060" defaultChild="1060" />
        <add id="1112" defaultChild="1114" />
        <add id="1129" defaultChild="1127" />
        <add id="1140" defaultChild="1144" />
        <add id="1144" defaultChild="1142" />
        <add id="1142" defaultChild="1142" />
        <add id="1187" defaultChild="1188" />
    </DocTypes>
</StructureExtensions>