<%@ Master Language="C#" MasterPageFile="~/masterpages/Cart.master" AutoEventWireup="true" %>

<asp:content ContentPlaceHolderId="BodyText" runat="server">
	<umbraco:Macro Alias="CartInformation" runat="server" />
</asp:content>