<%@ Master Language="C#" MasterPageFile="~/masterpages/PageWithoutBoxesLayout.master" AutoEventWireup="true" %>

<asp:content ContentPlaceHolderId="BodyText" runat="server">
  <umbraco:Macro Alias="NavigationBreadcrumbs" runat="server" />
  <div id="page">
    <umbraco:Macro Alias="PageHeading" runat="server" />
	  <umbraco:Macro Alias="ProductList" runat="server" />
  </div>
  
</asp:content>