<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
  </configSections>
  <autofac>
    <components>
      <!-- EXAMPLE of registering a Product information extractor -->
      <!--<component type="[Your class], [Your Assembly]" service="[Tea Commerce class], [Tea Commerce Assembly]" />-->
      <!--<component type="MyAssembly.Products.MyProductInformationExtractor, MyAssembly" service="TeaCommerce.Api.Products.IProductInformationExtractor, TeaCommerce.Api" />-->
    </components>
  </autofac>
</configuration>