/* FONT PATH
 * -------------------------- */
@font-face {
    font-family: 'openSans';
    src: url('/fonts/OpenSans/opensans-regular-webfont.eot');
    src: url('/fonts/OpenSans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/OpenSans/opensans-regular-webfont.woff') format('woff'),
         url('/fonts/OpenSans/opensans-regular-webfont.ttf') format('truetype'),
         url('/fonts/OpenSans/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'openSans Bold';
    src: url('/fonts/OpenSans/opensans-bold-webfont.eot');
    src: url('/fonts/OpenSans/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/OpenSans/opensans-bold-webfont.woff') format('woff'),
         url('/fonts/OpenSans/opensans-bold-webfont.ttf') format('truetype'),
         url('/fonts/OpenSans/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'openSans Light';
    src: url('/fonts/OpenSans/opensans-light-webfont.eot');
    src: url('/fonts/OpenSans/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/OpenSans/opensans-light-webfont.woff') format('woff'),
         url('/fonts/OpenSans/opensans-light-webfont.ttf') format('truetype'),
         url('/fonts/OpenSans/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'openSans Semibold';
    src: url('/fonts/OpenSans/opensans-semibold-webfont.eot');
    src: url('/fonts/OpenSans/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/OpenSans/opensans-semibold-webfont.woff') format('woff'),
         url('/fonts/OpenSans/opensans-semibold-webfont.ttf') format('truetype'),
         url('/fonts/OpenSans/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* ---------------------------------------------------------------------------------
    
   --------------------------------------------------------------------------------- */
/*h1,h2,h3,h4,h5,h6{
    font-family:'OpenSans' !important;
}*/

body{
    font-family:'OpenSans' !important;
    font-size:10px;
}

.styleNormal{
    font-family:'OpenSans' !important;
    color:#9b1230;
}
.styleNormalU{
    font-family:'OpenSans' !important;
    text-decoration:underline;
    color:#9b1230;
}


.styleLight{
    font-family:'OpenSans Light' !important;
    color:#9b1230;
}
.styleLightU{
    font-family:'OpenSans Light' !important;
    text-decoration:underline;
    color:#9b1230;
}


.styleBold{
    font-family:'OpenSans Bold' !important;
    /*margin-top:5px;
    margin-bottom:10px;*/
    color:#9b1230;
    /*margin-left:5%;*/
}
.styleBoldU{
    font-family:'OpenSans Bold' !important
    text-decoration:underline;
    margin-top:5px;
    margin-bottom:10px;
    color:#9b1230;
    /*margin-left:5%;*/
}


.styleSemiBold{
    font-family:'OpenSans SemiBold' !important;
    color:#9b1230;
}
.styleSemiBoldU{
    font-family:'OpenSans SemiBold' !important;
    text-decoration:underline;
    color:#9b1230;
}







.styleSemiBoldU{
    font-family:'OpenSans SemiBold' !important;
}

/*.titre{
    font-size:25px;
}*/