@inherits umbraco.MacroEngines.DynamicNodeContext
<form action="http://newsletter.teasolutions.dk/t/r/s/yhkhbt/" method="post" class="newsletter">
<div class="form-horizontal">
  <div class="control-group">
    <label for="name" class="control-label">@Dictionary[ "Name" ]:</label>
    <div class="controls"><input type="text" name="cm-name"
      id="name" /></div>
  </div>
  <div class="control-group">
    <label for="yhkhbt-yhkhbt" class="control-label">@Dictionary[ "Email" ]:</label>
    <div class="controls"><input type="text" name="cm-yhkhbt-yhkhbt"
      id="yhkhbt-yhkhbt" /></div>
  </div>
  <div class="control-group">
    <div class="controls">
      <input type="submit" value="@Dictionary[ "Subscribe" ]" class="btn" />
    </div>
  </div>
</div>
</form>
